<h3 style="font-family:&quot;Times New Roman&quot;,serif; text-align: center;">Phiếu xác nhận đơn hàng</h3>
<h4 style="font-family:&quot;Times New Roman&quot;,serif;">Thông tin giao hàng:</h5>
<p style="margin-left:0in; margin-right:0in"><span style="font-family:&quot;Times New Roman&quot;,serif; font-size:12pt">Tên người nhận: <strong>{name}</strong></span><span style="font-size:12pt"><span style="font-family:&quot;Times New Roman&quot;,serif"></span></span></p>
<p style="margin-left:0in; margin-right:0in"><span style="font-family:&quot;Times New Roman&quot;,serif; font-size:12pt">Địa chỉ: <strong>{address}</strong></span><span style="font-size:12pt"><span style="font-family:&quot;Times New Roman&quot;,serif"></span></span></p>
<p style="margin-left:0in; margin-right:0in"><span style="font-family:&quot;Times New Roman&quot;,serif; font-size:12pt">Số điện thoại: <strong>{phone}</strong></span><span style="font-size:12pt"><span style="font-family:&quot;Times New Roman&quot;,serif"></span></span></p>
<p style="margin-left:0in; margin-right:0in"><span style="font-family:&quot;Times New Roman&quot;,serif; font-size:12pt">Ghi chú: <strong>{note}</strong></span><span style="font-size:12pt"><span style="font-family:&quot;Times New Roman&quot;,serif"></span></span></p>
<p style="margin-left:0in; margin-right:0in"><span style="font-family:&quot;Times New Roman&quot;,serif; font-size:12pt">Hình thức thanh toán: COD ( Trả tiền khi nhận hàng)<strong></strong></span><span style="font-size:12pt"><span style="font-family:&quot;Times New Roman&quot;,serif"></span></span></p>
<p style="margin-left:0in; margin-right:0in"><span style="font-size:12pt"><span style="font-family:&quot;Times New Roman&quot;,serif">Chúng tôi sẽ liên hệ để xác nhận đơn hàng trước khi giao. Quý khách có thể liện hệ để kiểm tra tình trạng đơn hàng:</span></span></p>

<table border="1" cellspacing="0" class="MsoTableGrid" style="border-collapse:collapse; border:solid windowtext 1.0pt">
	<thead>
		<tr>
			
			<th style="vertical-align:top; width:63.8pt">
			<p style="margin-left:0in; margin-right:0in; text-align:center"><span style="font-size:12pt"><span style="font-family:&quot;Times New Roman&quot;,serif">STT</span></span></p>
			</th>
			<th style="vertical-align:top; width:63.8pt">
			<p style="margin-left:0in; margin-right:0in; text-align:center"><span style="font-size:12pt"><span style="font-family:&quot;Times New Roman&quot;,serif">Sản phẩm</span></span></p>
			</th>
			<th style="vertical-align:top; width:63.8pt">
			<p style="margin-left:0in; margin-right:0in; text-align:center"><span style="font-size:12pt"><span style="font-family:&quot;Times New Roman&quot;,serif">Số lượng</span></span></p>
			</th>
			<th style="vertical-align:top; width:63.8pt">
			<p style="margin-left:0in; margin-right:0in; text-align:center"><span style="font-size:12pt"><span style="font-family:&quot;Times New Roman&quot;,serif">Đơn giá</span></span></p>
			</th>
			
		</tr>
	</thead>
	<tbody>
	{content}

		<tr>
           
            <td style='vertical-align:top;width:77.85pt' colspan="4"><p style="margin-left:0in; margin-right:0in"><span style="font-size:12pt"><span style="float:right;font-family:&quot;Times New Roman&quot;,serif">Tổng tiền:<strong>{totalprice}</strong></span></span></p>
</td>
           
         
        </tr>
	</tbody>
</table>

<h4 style="font-family:&quot;Times New Roman&quot;,serif; text-align: center;">Cảm ơn quý khách đã tin tưởng và mua hàng, chúng tôi sẽ liên hệ để xác nhận thông tin sớm nhất.</h4>