<head xmlns:th="http://www.w3.org/1999/xlink">
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="/st-admin/assets/images/logo.png">
    <!-- Bootstrap Core CSS -->
    <link href="/st-admin/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="/st-admin/material/css/style.css" rel="stylesheet" />
    <!-- You can change the theme colors from here -->
    <link href="/st-admin/material/css/colors/blue.css" rel="stylesheet" />
    <link href="/st-admin/assets/plugins/sweetalert/sweetalert.css" rel="stylesheet" />
    <link href="/st-admin/assets/plugins/toast-master/css/jquery.toast.css" rel="stylesheet" />
</head>
