USE [master]
GO
/****** Object:  Database [PRX301_Project]    Script Date: 5/3/2019 1:31:57 PM ******/
CREATE DATABASE [PRX301_Project]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PRX301_Project', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\PRX301_Project.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'PRX301_Project_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\PRX301_Project_log.ldf' , SIZE = 1536KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PRX301_Project].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PRX301_Project]
GO
USE [PRX301_Project]
GO
/****** Object:  Table [dbo].[GlassType]    Script Date: 5/3/2019 1:31:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GlassType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](500) NULL,
	[Description] [nvarchar](max) NULL,
	[Active] [bit] NULL,
 CONSTRAINT [PK_GlassType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Label]    Script Date: 5/3/2019 1:31:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Label](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Description] [nvarchar](max) NULL,
	[Image] [nvarchar](max) NULL,
	[Status] [int] NULL,
	[Active] [bit] NULL,
 CONSTRAINT [PK_Label] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MachineType]    Script Date: 5/3/2019 1:31:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MachineType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](500) NULL,
	[Description] [nvarchar](max) NULL,
	[Active] [bit] NULL,
 CONSTRAINT [PK_MachineType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 5/3/2019 1:31:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CustomerId] [int] NULL,
	[CustomerName] [nvarchar](500) NULL,
	[Address] [nvarchar](max) NULL,
	[Phone] [nvarchar](20) NULL,
	[Email] [nvarchar](50) NULL,
	[Status] [int] NULL,
	[Note] [nvarchar](max) NULL,
	[CreateDateTime] [datetime] NULL,
	[PaidDateTime] [datetime] NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetail]    Script Date: 5/3/2019 1:31:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetail](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NULL,
	[OrderId] [int] NULL,
	[Price] [float] NULL,
	[Quantity] [int] NULL,
 CONSTRAINT [PK_OrderDetail] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Origin]    Script Date: 5/3/2019 1:31:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Origin](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](500) NULL,
	[Active] [bit] NULL,
 CONSTRAINT [PK_Origin] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 5/3/2019 1:31:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](250) NULL,
	[Description] [nvarchar](max) NULL,
	[Image] [nvarchar](max) NULL,
	[Price] [float] NULL,
	[WireTypeId] [int] NULL,
	[GlassTypeId] [int] NULL,
	[MachineTypeId] [int] NULL,
	[LabelId] [int] NULL,
	[OriginId] [int] NULL,
	[Status] [int] NULL,
	[ProductCode] [nvarchar](max) NULL,
	[StockAmount] [int] NULL,
	[StockIn] [int] NULL,
	[StockOut] [int] NULL,
	[CategoryId] [int] NULL,
	[Active] [bit] NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductCategory]    Script Date: 5/3/2019 1:31:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductCategory](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](250) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Status] [int] NOT NULL,
	[Active] [bit] NOT NULL,
 CONSTRAINT [PK_ProductCategory] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 5/3/2019 1:31:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 5/3/2019 1:31:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [int] NOT NULL,
	[Username] [nvarchar](50) NULL,
	[Password] [nvarchar](16) NULL,
	[LastName] [nvarchar](50) NULL,
	[MiddleName] [nvarchar](50) NULL,
	[FirstName] [nvarchar](50) NULL,
	[Phone] [nvarchar](20) NULL,
	[Email] [nvarchar](50) NULL,
	[Status] [int] NULL,
	[RoleId] [int] NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WireType]    Script Date: 5/3/2019 1:31:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WireType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](500) NULL,
	[Description] [nvarchar](max) NULL,
	[Active] [bit] NULL,
 CONSTRAINT [PK_WireType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[GlassType] ON 

INSERT [dbo].[GlassType] ([Id], [Name], [Description], [Active]) VALUES (1, N'Bơi Lặn', N'Chống thấm nước', 1)
INSERT [dbo].[GlassType] ([Id], [Name], [Description], [Active]) VALUES (2, N'Chronograph', NULL, 1)
INSERT [dbo].[GlassType] ([Id], [Name], [Description], [Active]) VALUES (3, N'Classic', N'Phong cách cổ điển', 1)
SET IDENTITY_INSERT [dbo].[GlassType] OFF
SET IDENTITY_INSERT [dbo].[Label] ON 

INSERT [dbo].[Label] ([Id], [Name], [Description], [Image], [Status], [Active]) VALUES (2, N'Citizen', N'thương hiệu nhật bản', N'https://www.citizenwatch.com/on/demandware.static/Sites-citizen_US-Site/-/default/images/opinionlab/logo.png', 1, 1)
INSERT [dbo].[Label] ([Id], [Name], [Description], [Image], [Status], [Active]) VALUES (3, N'Tissot', N'thương hiệu Thụy Sỹ', N'https://botw-pd.s3.amazonaws.com/styles/logo-thumbnail/s3/0001/2182/brand.gif?itok=-K7WHWOp', 1, 1)
SET IDENTITY_INSERT [dbo].[Label] OFF
SET IDENTITY_INSERT [dbo].[MachineType] ON 

INSERT [dbo].[MachineType] ([Id], [Name], [Description], [Active]) VALUES (1, N'đồng hồ cơ', N'Chạy bằng cơ học', 1)
INSERT [dbo].[MachineType] ([Id], [Name], [Description], [Active]) VALUES (2, N'đồng hồ điện tử ', N'chạy bằng điện tử', 1)
INSERT [dbo].[MachineType] ([Id], [Name], [Description], [Active]) VALUES (3, N'Solar', N'chạy bằng năng lượng mặt trời', 1)
SET IDENTITY_INSERT [dbo].[MachineType] OFF
SET IDENTITY_INSERT [dbo].[Origin] ON 

INSERT [dbo].[Origin] ([Id], [Name], [Active]) VALUES (1, N'Thụy Sĩ', 1)
INSERT [dbo].[Origin] ([Id], [Name], [Active]) VALUES (2, N'Nhật bản', 1)
SET IDENTITY_INSERT [dbo].[Origin] OFF
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([Id], [Name], [Description], [Image], [Price], [WireTypeId], [GlassTypeId], [MachineTypeId], [LabelId], [OriginId], [Status], [ProductCode], [StockAmount], [StockIn], [StockOut], [CategoryId], [Active]) VALUES (1, N'ĐỒNG HỒ SEIKO SRZ397P1', N'ĐỒNG HỒ SEIKO SRZ397P1', N'http://cititime.com.vn/vnt_upload/product/12_2016/Seiko/Seiko-SRZ397P1.png', 7360000, 2, 1, 1, 1, 2, 1, N'AAA', NULL, NULL, NULL, 1, 1)
INSERT [dbo].[Product] ([Id], [Name], [Description], [Image], [Price], [WireTypeId], [GlassTypeId], [MachineTypeId], [LabelId], [OriginId], [Status], [ProductCode], [StockAmount], [StockIn], [StockOut], [CategoryId], [Active]) VALUES (2, N'ĐỒNG HỒ SEIKO SSC355P1', N'ĐỒNG HỒ SEIKO SSC355P1', N'http://cititime.com.vn/vnt_upload/product/12_2016/Seiko/seiko-ssc355p1.png', 13915000, 2, 1, 1, 1, 2, 1, N'BBBB', NULL, NULL, NULL, 1, 0)
INSERT [dbo].[Product] ([Id], [Name], [Description], [Image], [Price], [WireTypeId], [GlassTypeId], [MachineTypeId], [LabelId], [OriginId], [Status], [ProductCode], [StockAmount], [StockIn], [StockOut], [CategoryId], [Active]) VALUES (3, N'ĐỒNG HỒ PATEK PHILIPPE 5372P', N'ĐỒNG HỒ PATEK PHILIPPE 5372P', N'http://cititime.com.vn/vnt_upload/product/brand/PP/Patek_Philippe_5207R.jpg', 11212410000, 2, 1, 1, 4, 1, 1, N'5372P', NULL, NULL, NULL, 1, 1)
SET IDENTITY_INSERT [dbo].[Product] OFF
SET IDENTITY_INSERT [dbo].[ProductCategory] ON 

INSERT [dbo].[ProductCategory] ([Id], [Name], [Description], [Status], [Active]) VALUES (1, N'Đồng Hồ', N'Đây là đồng hồ', 1, 1)
INSERT [dbo].[ProductCategory] ([Id], [Name], [Description], [Status], [Active]) VALUES (2, N'Vòng tay', N'Đây là vòng tay', 1, 1)
SET IDENTITY_INSERT [dbo].[ProductCategory] OFF
SET IDENTITY_INSERT [dbo].[WireType] ON 

INSERT [dbo].[WireType] ([Id], [Name], [Description], [Active]) VALUES (1, N'Ceramic', N'dây bằng ceramic', 1)
INSERT [dbo].[WireType] ([Id], [Name], [Description], [Active]) VALUES (2, N'Dây da', N'dây bằng da', 1)
INSERT [dbo].[WireType] ([Id], [Name], [Description], [Active]) VALUES (3, N'Dây dù', N'dây bằng dù', 1)
SET IDENTITY_INSERT [dbo].[WireType] OFF
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_User] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_User]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_Order] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Order] ([Id])
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_OrderDetail_Order]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_Product] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([Id])
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_OrderDetail_Product]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_GlassType] FOREIGN KEY([GlassTypeId])
REFERENCES [dbo].[GlassType] ([Id])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_GlassType]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Label] FOREIGN KEY([LabelId])
REFERENCES [dbo].[Label] ([Id])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Label]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_MachineType] FOREIGN KEY([MachineTypeId])
REFERENCES [dbo].[MachineType] ([Id])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_MachineType]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Origin] FOREIGN KEY([OriginId])
REFERENCES [dbo].[Origin] ([Id])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Origin]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_ProductCategory] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[ProductCategory] ([Id])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_ProductCategory]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_WireType] FOREIGN KEY([WireTypeId])
REFERENCES [dbo].[WireType] ([Id])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_WireType]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Role] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Role] ([Id])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Role]
GO
USE [master]
GO
